* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /*  padding: 5px;*/
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(99, 161, 241, 0.8),
    rgba(167, 35, 194, 0.8)
  );
  /* rgba(207, 255, 241, 0.8)), url(../images/quilt-background.jpeg); */
  /*background-image: linear-gradient(315deg, rgb(199, 233, 251) 0%, rgb(230, 29, 140) 74%);*/
  /*  #F6F0EA #F1DFD1*/
  /* Pinkish rgba(199, 233, 251, 0.5),
      rgba(230, 29, 140, 0.5)),*/
  /* 
  grayish rgba(184, 198, 219, 0.4) 0%,
      rgba(245, 247, 250, 0.4) 74%)*/
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo-box {
  position: absolute;
  top: 50px;
  left: 50px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  margin-bottom: 30px;
  text-align: center;
}

.heading-primary-main {
  display: block;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f0f0f0;
}

.heading-primary-sub {
  display: block;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  color: #282828;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn-white {
  background-color: #fff;
  color: #777;
  margin: 30px;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

/* .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
