body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  font-family: Monserrat, sans-serif;
  font-weight: 400;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 10px #c9a0dc solid;
}

header {
  display: flex;
  padding: 2px;
  grid-column: 1 / 4;
  justify-content: space-between;
  background-color: #fff;
}

.header-box {
  display: flex;
}

.wisteria-logo {
  width: 100px;
  border-radius: 50%;
  margin: 30px;
}

.headers-big {
  font-size: 90px;
  font-weight: 100;
  color: #333;
  margin: auto;
  letter-spacing: 5px;
}

.nav-items {
  width: 25%;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  font-size: 24px;
}

.sub-header-box {
  justify-self: center;
  align-self: center;
}

main {
  grid-column: 1/ 4;

  background-image: /*linear-gradient(
      to right bottom,
      rgba(212, 179, 227, 0.1),
      rgba(190, 141, 213, 0.2)
    ), */ url("../images/quilt-background.jpeg");
  background-size: cover;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers-sub {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #000;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 4;
  color: #000;
}

.dummy {
  visibility: hidden;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  align-self: flex-end;
}
